{% extends 'base.html' %}

{% load static %}
{% block script %}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="{% static 'scripts/profile.js' %}" defer></script>
<script src="{% static 'scripts/hikeDetail.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1 class="title">{{ selected.username }}</h1>
{% if authorized %}
<div class="profile-actions">
    <a class="action-button" href="{% url 'hikes:update_user' selected.id %}">Edit Profile</a>
    <a class="action-button delete" href="{% url 'hikes:delete_user' selected.id %}">Delete Profile</a>
</div>
{% endif %}
<nav class="profile-section-nav">
    <div id="favorites-nav" class="profile-nav-item">
        <h3 class="profile-nav-link">Favorites ({{ favorites | length }})</h3>
        <i id="favorites-arrow" class="fas fa-chevron-down"></i>
    </div>
    <div id="completed-nav" class="profile-nav-item">
        <h3 class="profile-nav-link">Completed ({{ completed | length }})</h3>
        <i id="completed-arrow" class="fas fa-chevron-down"></i>
    </div>
    <div id="reviews-nav" class="profile-nav-item">
        <h3 class="profile-nav-link">Reviews ({{ selected.review_set.all | length }})</h3>
        <i id="reviews-arrow" class="fas fa-chevron-down"></i>
    </div>
    <div id="photos-nav" class="profile-nav-item">
        <h3 class="profile-nav-link">Photos ({{ selected.photo_set.all | length }})</h3>
        <i id="photos-arrow" class="fas fa-chevron-down"></i>
    </div>
</nav>
<section id="favorites-section" class="profile-section">
    <h2 id="favorites" class="profile-title">Favorites</h2>
    {% include 'partials/hike_cards.html' with hikes=favorites %}
    <br />
</section>
<section id="completed-section" class="profile-section">
    <h2 id="completed" class="profile-title">Completed</h2>
    {% include 'partials/hike_cards.html' with hikes=completed %}
    <br />
</section>
<section id="reviews-section" class="profile-section">
    <h2 id="reviews" class="profile-title">Reviews</h2>
    <div class="hike-detail-container">
        {% for review in selected.review_set.all %}
            <div class="user-review">
                <span class="review-header">
                    {% for i in range %}
                        {% if i < review.rating %}
                            <i class="fas fa-star filled"></i>
                        {% else %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                    {% endfor %}
                    for <a href="{% url 'hikes:detail' review.hike.id %}">{{ review.hike.name }}</a>
                    {% if authorized %}
                        <a class="action-button" href="{% url 'hikes:update_review' review.id %}">Edit</a>
                        <a class="action-button delete" href="{% url 'hikes:delete_review' review.id %}">Delete</a>
                    {% endif %}
                </span>
                <p class="description">{{ review.review }}</p>
            </div>
        {% empty %}
        <p class="no-hikes-message">No reviews found</p>
        {% endfor %}
    </div>
    <br />
</section>
<section id="photos-section" class="profile-section">
    <h2 id="photos" class="profile-title">Photos</h2>
    <div class="photo-container">
        {% for photo in selected.photo_set.all %}
        <div class="photo-card">
            <img class="detail-photo" src="{{ photo.url }}">
            {% if authorized %}
                <a href="{% url 'hikes:delete_photo' photo.id %}" class="action-button delete">Delete</a>
            {% endif %}
        </div>
        {% empty %}
            <div>No Photos Uploaded</div>
        {% endfor %}
    </div>
</section>
{% include 'partials/photo_modal.html' %}
{% endblock %}