{% extends 'base.html' %}

{% block content %}
<h1 class="title">{{ selected.username }}</h1>
<nav class="profile-section-nav">
    <a class="profile-nav-link" href="#favorites">Favorites</a>
    <a class="profile-nav-link" href="#completed">Completed</a>
    <a class="profile-nav-link" href="#reviews">Reviews</a>
</nav>
<div class="profile-title-section">
    <h2 id="favorites" class="profile-title">Favorites</h2>
    <a class="top-link" href="{% url 'hikes:profile' selected.id %}">Top</a>
</div>
{% include 'hike_cards.html' with hikes=favorites %}
<br />
<div class="profile-title-section">
    <h2 id="completed" class="profile-title">Completed</h2>
    <a class="top-link" href="{% url 'hikes:profile' selected.id %}">Top</a>
</div>
{% include 'hike_cards.html' with hikes=completed %}
<br />
<div class="profile-title-section">
    <h2 id="reviews" class="profile-title">Reviews</h2>
    <a class="top-link" href="{% url 'hikes:profile' selected.id %}">Top</a>
</div>
<div class="hike-detail-container">
    {% for review in selected.review_set.all %}
        <div class="user-review">
            <span class="review-header">
                {% for i in range %}
                    {% if i < review.rating %}
                        <i class="fas fa-star filled"></i>
                    {% else %}
                        <i class="fas fa-star"></i>
                    {% endif %}
                {% endfor %}
                for <a href="{% url 'hikes:detail' review.hike.id %}">{{ review.hike.name }}</a>
                {% if authorized %}
                    <a class="action-button" href="{% url 'hikes:update_review' review.id %}">Edit</a>
                    <a class="action-button delete" href="{% url 'hikes:delete_review' review.id %}">Delete</a>
                {% endif %}
            </span>
            <p class="description">{{ review.review }}</p>
        </div>
    {% empty %}
    <p class="no-hikes-message">No reviews found</p>
    {% endfor %}
</div>
<br />
{% endblock %}