{% extends 'base.html' %}

{% block content %}
{% for user in users %}
    <a class="user-link" href="{% url 'hikes:profile' user.id %}">
        <div class="user-card">
            <div class="user-card-title">
                <h2>{{ user.username }}</h2>
                <p>user since {{ user.date_joined.date }}</p>
            </div>
            <div class="user-stats">
                <p>Favorites: {{ user.profile.favorites.all | length }}</p>
                <p>Completed: {{ user.profile.completed.all | length }}</p>
                <p>Reviews: {{ user.review_set.all | length }}</p>
                <p>Photos: {{ user.photo_set.all | length }}</p>
            </div>
        </div>
    </a>
{% endfor %}
{% endblock %}