{% extends 'base.html' %}

{% block content %}
<div class="hike-detail-container">
    <div class="hike-title">
        <h1>{{ selected.name }}</h1>
        <p>{{ selected.location }}, {{ selected.state }}</p>
    </div>
    <div class="hike-detail-stats">
        <div class="detail-item">
            <span class="detail-title">Round trip distance:</span>
            <p>{{ selected.length }} miles</p>
        </div>
        <div class="detail-item">
            <span class="detail-title">Route type:</span>
            <p>{{ selected.get_route_type_display }}</p>
        </div>
        <p class="difficulty {{ selected.get_difficulty_display }}"> {{ selected.get_difficulty_display }}</p>
    </div>
    <p class="description">{{ selected.description }}</p>
    <a href="{% url 'hikes:update' selected.id %}">Edit this hike</a>
    <a href="{% url 'hikes:delete' selected.id %}">Delete this hike</a>
</div>
{% endblock %}