/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
ul {
    list-style: none;
}
body {
    position: relative;
    min-height: 100vh;
}
main {
    padding-bottom: 2.5rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #000080;
    color: #fff;
}
a {
    text-decoration: none;
}
/* NAV */
.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #000080;
}
.side-nav {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.nav-link {
    color: #fff;
    font-size: 20px;
}
.title {
    text-align: center;
    margin: 20px 0;
    color: #00003f;
}
/* HOME */
.home-title {
    text-align: center;
    color: #00003f;
    background-color: rgba(255,255,255,.7);
    border-radius: 10px;
    padding: 5px 20px;
}
.home-head {
    background-image: url("https://images.unsplash.com/photo-1594376764040-6bf8f76b47e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2064&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 1s ease-in-out;
}
/* INDEX */
.index-container {
    display: flex;
    flex-direction: column;
}
.filter-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    min-height: 50px;
}
.filter-controls {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}
.filter-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.filter-form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
    font-weight: bold;
}
.filter-form ul {
    display: block;
    font-weight: normal;
}
.filter-form input {
    padding: 2px;
    width:fit-content;
}
#id_length_0, #id_length_1 {
    width: 87px;
}
#star-text {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}
.filter-actions {
    display: flex;
    align-self: center;
}
.filter-form .action-button {
    margin: 5px;
}
.hikes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
}
.hike-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
}
.hike-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.hike-info {
    padding: 0 5px;
    margin-top: 5px;
}
.hike-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.hike-rating {
    display: flex;
    align-items: center;
}
.hike-link {
    color: #00003f;
    border: 1px solid #00003f;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    transition: box-shadow .3s;
}
.hike-link:hover {
    box-shadow: 3px 3px 10px #00003f;
}
.difficulty {
    padding: 0 5px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Easy {
    background-color: #0e6b0e;
}
.Moderate {
    background-color: #ffa500;
}
.Hard {
    background-color: #000;
}
/* DETAIL */
.hike-detail-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
.hike-title {
    margin-top: 30px;
}
.hike-detail-stats {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.detail-item {
    display: flex;
    flex-direction: column;
}
.detail-title {
    font-size: 14px;
    font-style: italic;
}
.description {
    line-height: 30px;
    margin-top: 10px;
}
.detail-buttons {
    align-self: flex-end;
}
.detail-subtitle {
    margin-bottom: 10px;
    font-size: 30px;
}
.photo-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.photo-container {
    width: 80%;
    display: flex;
    overflow-x: auto;
    margin: 10px auto;
    font-size: 20px;
}
.detail-photo {
    max-height: 300px;
    margin: 5px;
    cursor: pointer;
}
.user-options {
    display: flex;
    width: 14%;
    justify-content: space-between;
    align-items: center;
}
.user-options .action-button {
    width: fit-content;
}
.user-option-button {
    border: none;
}
.user-review {
    border: 1px solid #00003f;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
}
.fa-star {
    color: gray;
    font-size: 23px;
    background-color: #fff;
}
.fa-heart, .fa-check-circle {
    color: #00003f;
    font-size: 23px;
    background-color: #fff;
    cursor: pointer;
    transition: font-size .5s;
}
.fa-heart:hover, .fa-check-circle:hover {
    font-size: 25px;
}
.favorited {
    color: red;
}
.completed {
    color: green;
}
.filled, .rating:hover {
    color: goldenrod;
}
.rating {
    cursor: pointer;
}
/* PHOTO MODAL */
.photo-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.4);
}
.modal-content {
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-img {
    max-height: 90vh;
    margin: 0 10px;
}
.fa-chevron-left, .fa-chevron-right {
    font-size: 102px;
    color: rgba(255,255,255,.4);
    cursor: pointer;
    padding: 20px;
    transition: color .5s;
}
.fa-chevron-left:hover, .fa-chevron-right:hover {
    color:  #fff;
}
/* FORMS */
.hike-form {
    width: 30%;
    margin: 0 auto;
    text-align: right;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hike-form p {
    width: 500px;
}
input {
    width: 60%;
}
textarea {
    width: 60%;
}
.helptext, .hike-form ul {
    display: block;
    font-weight: normal;
    font-style: italic;
}
.error {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.sign-up-link {
    display: block;
}
#id_activities {
    width: 173px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#id_activities input {
    width:fit-content;
}
/* DELETE */
.buttons {
    display: flex;
    justify-content: space-between;
    width: 155px;
    margin: 0 auto;
}
.action-button {
    font-size: 16px;
    border: 1px solid #00003f;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #00003f;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
    width: 70px;
    text-align: center;
}
.action-button:hover {
    background-color: #00003f;
    color: #fff;
}
.delete:hover {
    background-color: red;
}
.photo-submit {
    background-color: #fff;
    cursor: pointer;
    color: #00003f;
    border: 1px solid #00003f;
    border-radius: 5px;
    padding: 2px;
    width: 80px;
    margin-top: 10px;
    font-size: 14px;
    transition: background-color .5s, color .5s;
}
.photo-submit:hover {
    background-color: #00003f;
    color: #fff;
}
/* PROFILE */
.profile-actions {
    position: absolute;
    right: 10px;
    top: 106px;
}
.profile-section {
    display: none;
}
.profile-nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
}
.top-link {
    margin-left: 10px;
}
.profile-title {
    margin-left: 200px;
    font-size: 27px;
}
.profile-section-nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
}
.profile-nav-item {
    cursor: pointer;
}
.fa-chevron-down, .fa-chevron-up {
    margin-left: 5px;
}
.photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* USER INDEX */
.user-link {
    color: #00003f;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 10px auto;
    border: 1px solid #00003f;
    border-radius: 5px;
    transition: box-shadow .3s;
}
.user-link:hover {
    box-shadow: 3px 3px 10px #00003f;
}
.user-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.user-card-title {
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
}
.user-stats {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-end;
}
.update-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: normal;
}
.update-options a {
    margin-top: 20px;
}